<!DOCTYPE html>
<html ng-app="app" ng-cloak>

<head>
	<!--<title>Manager -El mokhtabar</title>-->
	<title ng-bind="$state.current.data.pageTitle"></title>
	<meta charset="utf-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Echo Lab">
	<meta name="author" content="Aliaa Hosny">

	<!--calendar css-->
	<link href="assets/plugins/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
	<link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!--			//<base href="/">-->


	<!--Morris Chart CSS -->
	<link rel="stylesheet" href="assets/plugins/morris/morris.css">
	<link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">

	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/core.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/components.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

	<!-- DataTables -->
	<link href="assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

	<link href="Assets/CSS/custom.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="Assets/Images/app-icon.png">
	<script src="assets/js/modernizr.min.js"></script>

</head>

<body ng-controller="ApplicationController">

	<div id="wrapper" ng-if="$state.current.data.pageType === 'partial'">
		<!-- Top Bar Start -->
		<div class="topbar">
			<!-- LOGO -->
			<div class="topbar-left">
				<img src="assets/images/logo2.png" style="width: 50%; padding-top: 10px;">
			</div>
			<!-- Button mobile view to collapse sidebar menu -->
			<div class="navbar navbar-default" role="navigation">
				<div class="container">
					<!-- Page title -->
					<ul class="nav navbar-nav navbar-left">
						<li>
							<button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
						</li>
						<li>
							<h4 class="page-title" style="color: #0E5770">{{$state.current.data.pageTitle}}</h4>
						</li>
					</ul>
					<!-- Right(Notification and Searchbox -->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<!-- Notification -->
							<div class="notification-box">
								<ul class="list-inline m-b-0">
									<li>
										<a class="right-bar-toggle" style="cursor: pointer ;" ng-click="aft7()">
											<i class="zmdi zmdi-notifications-none"></i>
                                        </a>
										
										<div class="noti-dot">

											<span class="dot"></span>
											<span class="pulse" ng-click="aft7()"><b style="font-family: monospace ; font-size: 10px ; background-color:dodgerblue; color: white; cursor: pointer ; border-radius: 5px" ng-show="sub != 0">{{sub}}</b></span>

										</div>
									</li>
								</ul>
							</div>
							<!-- End Notification bar -->
						</li>

					</ul>
				</div>
				<!-- end container -->
			</div>
			<!-- end navbar -->
		</div>
		<!-- Top Bar End -->
		<!-- ========== Left Sidebar Start ========== -->
		<div class="left side-menu">
			<div class="sidebar-inner slimscrollleft">
				<!-- User -->
				<div class="user-box">
					<div class="user-img">
						<img ng-src="http://{{ppUrl}}" onerror="this.src = 'assets/images/users/avatar-1.jpg'" alt="user-img" class="img-circle img-thumbnail img-responsive">
					</div>
					<h5><a>{{userName}}</a> </h5>
					<ul class="list-inline">
						<li>
							<a ng-click="logout()" class="text-custom" style="cursor: pointer">
                                <i class="zmdi zmdi-power"></i>
                            </a>
						</li>
					</ul>
				</div>
				<!-- End User -->
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<ul>
						<li ng-if="role === 'SalesManager' || role === 'SalesAdmin' && role === Role && UID === UserID ">
							<a ui-sref="TeamList" class="waves-effect" ng-class="{ 'active': $state.current.data.pageId === 'team'}">
                                <i class="glyphicon glyphicon-user"></i>
                                <span> My Team </span>
                            </a>
						</li>
						<li>
							<a ui-sref="RequestsList" ng-class="{ 'active': $state.current.data.pageId === 'requests'}" class="waves-effect">
                                <i class="glyphicon glyphicon-check"></i>
                                <span> Pending Requests </span>
                            </a>
						</li>

						<li>
							<a ui-sref="Report" class="waves-effect" ng-class="{ 'active': $state.current.data.pageId === 'report'}">
                                <i class="glyphicon glyphicon-stats"></i>
                                <span> My Reports </span>
                            </a>
						</li>

						<li ng-if="role === 'SalesRep' || role === 'SalesManager' && role === Role && UID === UserID">
							<a ui-sref="DoctorsCreate" class="waves-effect" ng-class="{ 'active': $state.current.data.pageId === 'doctorCreate'}">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span> New Doctor  </span>
                            </a>
						</li>

						<li>
							<a ui-sref="DoctorsList" class="waves-effect" ng-class="{ 'active': $state.current.data.pageId === 'doctorList'}">
                                <i class="glyphicon glyphicon-th-list"></i>
                                <span> Doctors List </span>
                            </a>
						</li>

						<li ng-if="role === 'SalesRep' || role === 'SalesManager' && role === Role && UID === UserID">
							<a ui-sref="TodayVisits" class="waves-effect" ng-class="{ 'active': $state.current.data.pageId === 'visits'}">
								<i class="glyphicon glyphicon-time"></i>
								<span> Today visit </span>
							</a>
						</li>

						<li ng-if="role === 'SalesRep' || role === 'SalesManager' && role === Role && UID === UserID">
							<a ui-sref="VisitPlan" class="waves-effect" ng-class="{ 'active': $state.current.data.pageId === 'plan'}">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <span> Visit plan </span>
                            </a>
						</li>
						<li ng-if="role === 'SalesManager' || role === 'SalesAdmin' && role === Role && UID === UserID">
							<a  ui-sref="Stock" class="waves-effect" ng-class="{ 'active': $state.current.data.pageId === 'stock'}">
                                <i class="glyphicon glyphicon-gift"></i>
                                <span> My stock </span>
                            </a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<!-- Sidebar -->
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- Left Sidebar End -->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div ui-view>

				</div>
			</div>
			<!-- content -->
			<footer class="footer" style="position: inherit">
				2017 © Yackeen.
			</footer>
		</div>

		<!-- ============================================================== -->
		<!-- End Right content here -->
		<!-- ============================================================== -->
		<!-- Right Sidebar -->
		<div class=" right-bar sidebar">

			<a class="right-bar-toggle" ng-click="aft7()">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
			<h4 class="">Notifications</h4>
			<div class="notification-list nicescroll" style="overflow: scroll">
				<ul class="list-group list-no-border user-list">
					<li class="list-group-item" ng-repeat="x in List">
						<a href="" class="user-list-item">
							<div class="avatar">
								<img src="assets/images/big/bg1.jpg" alt="">
							</div>
							<div class="user-desc">
								<span style="color: black"><b>{{x.Title}}</b></span><br>
								<span class="time">{{x.Date.substring(11,16)}} - {{x.Date.substring(0,10)}}</span><br>
							</div>
						</a>
					</li>
				</ul>
				<h4 ng-if="List.length===0"><b>No Requests</b></h4>
			</div>
		</div>

		<!-- /Right-bar -->


	</div>
	<div ui-view ng-if="$state.current.data.pageType === 'full'">

	</div>

	<!--<div login-dialog ng-show="!isLoginPage"></div>-->
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
		<script src="Assets/JS/angular-idle.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
	    <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDyA2zgNQwv6xR-lWESzYRR5nLL0TFN7UM
&sensor=false&language=en"></script>


	<script src="Assets/JS/angular-cookies.min.js"></script>
	<script src="App/App.js"></script>
	<script src="App/Components/Shared/ApplicationController.js"></script>
	<script src="App/Components/Account/LoginController.js"></script>
	<script src="App/Components/Doctor/DoctorListController.js"></script>
	<script src="App/Components/Doctor/DoctorCreateController.js"></script>
	<script src="App/Components/Request/RequestListController.js"></script>
	<script src="App/Components/Team/TeamListController.js"></script>
	<script src="App/Components/Stock/StockListController.js"></script>
	<script src="App/Components/Report/ReportListController.js"></script>
	<script src="App/Components/Visits/Todayvisits.js"></script>
	<script src="App/Components/Report/StockReportjs.js"></script>
	<script src="App/Components/Report/AvtReport.js"></script>
	<script src="App/Components/Report/DetailedAmount.js"></script>
	<script src="App/Components/Report/ReportListController.js"></script>
	

	<!-- Datatables-->
	<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatables/dataTables.bootstrap.js"></script>
	<script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
	<script src="assets/plugins/datatables/buttons.bootstrap.min.js"></script>
	<script src="assets/plugins/datatables/pdfmake.min.js"></script>
	<script src="assets/plugins/datatables/vfs_fonts.js"></script>
	<script src="assets/plugins/datatables/buttons.html5.min.js"></script>
	<script src="assets/plugins/datatables/buttons.print.min.js"></script>
	<script src="assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
	<script src="assets/plugins/datatables/dataTables.keyTable.min.js"></script>
	<script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
	<script src="assets/plugins/datatables/responsive.bootstrap.min.js"></script>
	<script src="assets/plugins/datatables/dataTables.scroller.min.js"></script>

	<!-- Datatable init js -->
	<script src="assets/pages/datatables.init.js"></script>
	<!-- App js -->
	<script src="assets/js/jquery.core.js"></script>
	<script src="assets/js/jquery.app.js"></script>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/detect.js"></script>
	<script src="assets/js/fastclick.js"></script>
	<script src="assets/js/jquery.slimscroll.js"></script>
	<script src="assets/js/jquery.blockUI.js"></script>
	<script src="assets/js/waves.js"></script>
	<script src="assets/js/jquery.nicescroll.js"></script>
	<script src="assets/js/jquery.scrollTo.min.js"></script>
	<!-- Jquery-Ui -->
	<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- BEGIN PAGE SCRIPTS -->
	<script src="assets/plugins/moment/moment.js"></script>
	<script src='assets/plugins/fullcalendar/dist/fullcalendar.min.js'></script>
	<script src="assets/pages/jquery.fullcalendar.js"></script>
	<script src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>


	<script src="app/services/AuthService.js"></script>
	
		
	<script type="text/ng-template" id="warning-dialog.html">
  <div class="modal-header">
   <h3>You're Idle. Do Something!</h3>
  </div>
  <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
   <uib-progressbar max="5" value="5" animate="false" class="progress-striped active" style="height: 30px"><b style="font-size: 15px">You'll be logged out in {{countdown}} second(s).</b></uib-progressbar>
  </div>

</script>
<script type="text/ng-template" id="timedout-dialog.html">
  <div class="modal-header">
   <h3>You've Timed Out!</h3>
  </div>
  <div class="modal-body">
   <p>
	   Logged Out !
   </p>
 </div>
</script>
	
</body>

</html>